.heading-digit{
    background: #fbfbfb;
    font-size: 18px;
    color: black;
    min-width: 21%;
    min-height: 40px;
    text-align: center;
    margin-top: 7px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px #e8e8e8 solid;
    border-radius: 0px;
    margin-right: 10px;
    display: inline-block;
    padding-top: 13px;
    }